DIV { 
border: 1px solid #000000
}

#Header { 
height: 100px;
width: 800px;
margin-right: auto;
margin-left: auto;
background: url(image/banner.png) no-repeat;
color:red;
}

#MainContent {
width: 800px;
margin-right: auto;
margin-left: auto;
}

#Footer {
width: 802px;
margin-right: auto;
margin-left: auto;
height:50px;